/node_modules
/public/hot
/public/storage
/public/packages
/storage/*.key
/vendor
.env
.env.backup
herb.cer
herb.pem
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.zip
*.sql
